.style-categoria {
    height: 40vh;
}


@media (min-width: 768px) {
    .style-categoria {
        height: 50vh;
    }
}

.img-fundo {
    z-index: 1;
    object-fit: cover;
    object-position: center;
}

.card_produto{
    transition: 0.3s ease-in-out;
}
.card_produto:hover{
    opacity: 40%;
}