{% block css_adicional %}
<link rel="stylesheet" href="../static/src/css/pagina_inicial.css">
{% endblock %}

{% extends "layout.html" %}
{% block conteudo %}

<div class="container-fluid bg-black text-white min-vh-100 d-flex flex-column align-items-center justify-content-center">
    
    <div class="text-center px-3" style="max-width: 600px;">
        
        <h1 class="display-1 fw-bold mb-2 tracking-wider" style="color: #6c757d; font-size: 8rem;">
            404
        </h1>

        <h2 class="display-5 fw-bold mb-3 text-uppercase tracking-wider">
            Página Não Encontrada
        </h2>

        <p class="text-secondary mb-5 lead">
            O conteúdo que você está procurando não existe, foi movido ou o link inserido está incorreto.
        </p>
        <div>
            <a href="/" 
               class="btn btn-light btn-lg rounded-0 px-5 py-3 fw-bold text-dark text-uppercase text-decoration-none transition-all">
                Voltar para o Início
            </a>
        </div>

    </div>

</div>

{% endblock %}
