{%block css_adicional%}
<link rel="stylesheet" href="../static/src/css/pagina_inicial.css">
{%endblock%}

{% extends "layout.html" %}
{% block conteudo %}

<!-- Catalogo Única -->
<div class="bg-dark min-vh-100 w-100 py-5">

    <div class="container">

        <h2 class="text-center text-white mb-5 pt-5">{{ nome_categoria }}</h2>


        <div class="row g-4 mb-4">
            {% for produto in produtos %}
            <div class="col-12 col-md-4">
                <div class="bg-secondary bg-opacity-25 p-3 rounded text-white text-center">
                    <img src="{{ produto.foto }}" class="img-fluid rounded object-fit-cover w-100"
                        style="height: 220px;" alt="{{ produto.nome }}">
                    <p class="pb-3 mt-3 mb-0 fs-6 text-light opacity-75">{{ produto.nome }}</p>

                    <a href="/produto/{{ produto.codigo }}" class="btn btn-light w-100 py-2 rounded-pill fw-bold text-dark text-uppercase shadow-sm focus-ring focus-ring-light">
                        Comprar
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
       

    </div>
</div>

{% endblock %}