{%block css_adicional%}
<link rel="stylesheet" href="../static/src/css/pagina_inicial.css">
{%endblock%}


<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="bg-secondary bg-opacity-25 p-3 rounded text-white text-center">
            <img src="https://placehold.co/500x300" class="img-fluid rounded object-fit-cover w-100"
                style="height: 520px;" alt="Produto 5">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Nome Produto</h5>
                <p>R$ 0,00</p>
            </div>
        </div>
    </div>
</div>

<button type="button" class="btn btn-success">Adicionar</button>